<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/homeStyle.css">
</head>
<body>

    <h1>URL Shortener</h1>

   <div class="newGeneratedUrl-container">
    <p>New Mini URL: </p>
    <% if (locals.id) { %>
     
        <p id="url"> http://localhost:8080/url/<%= id %></p>
    <% } %>
   </div>

    <div class="form-container">
        <form method="post" action="/url">
            <label>Enter Your Original URL: </label>
            <input 
              type="url" 
              name="url" 
              placeholder="https://example.com">

            <button type="submit">Generate</button>
        </form>
    </div>

    <div class="analytics-container">

        <% if (locals.urls) { %>

            <table>
                <thead>
                    <th>S.no</th>
                    <th>ShortID</th>
                    <th>Redirect</th>
                    <th>Clicks</th>
                </thead>
                <tbody>

                    <% urls.forEach((url,index) => { %>
                     
                     <tr>
                        <td> <%= index+1 %> </td>
                        <td> <%= url.shortId %> </td>
                        <td> <%= url.redirectUrl %> </td>
                        <td> <%= url.visitHistory.length %> </td>
                     </tr>
                    <% }) %>
                </tbody>
            </table>
        <% } %>
    </div>
    
</body>
</html>